# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven compiled files folder
target/

# Netbeans IDE folders and files
nb-configuration.xml
nbactions.xml
nbproject/private

# Eclipse IDE files and folders
.classpath
.project
.settings/

# IntelliJ IDEA files and folders
.idea/
*.iml
